@import "tailwindcss";

html,
body,
#root {
  font-family: "Poppins" !important;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #C4171F;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a01319;
}